/* COLORES */
/*FONDO*/
html {
  background-color: #000000; }

body {
  background: url(images/speaker-grille-texture.jpg) repeat;
  color: #fefefe;
  font-family: 'Open Sans', sans-serif; }

/*HEADER*/
header.banner {
  background: url(images/back3.png) repeat;
  width: 100%;
  display: table;
  padding-bottom: 10px; }

header a.brand {
  background: url(images/logo.png) 0 0 no-repeat;
  text-decoration: none;
  color: transparent;
  font-size: 1px;
  text-indent: -500px;
  width: 323px;
  height: 90px;
  float: left; }

header .container {
  margin: 0 auto;
  width: 1025px; }

header .nav-primary {
  float: right;
  margin-top: 20px;
  clear: right; }

header .nav-secondary {
  float: right;
  margin: 4px 64px 0 0;
  z-index: 1;
  position: relative; }

header .nav-secondary.oculto {
  display: none; }

header .nav-secondary ul.nav-m {
  background: url(images/back3.png) repeat;
  position: absolute;
  border-radius: 5px;
  padding: 5px;
  width: 90px; }

header .nav-secondary ul.nav-m li {
  float: left;
  clear: left; }

header .nav-secondary ul.nav-m li a {
  font-size: 14px;
  width: 100%; }

header .nav-secondary ul.nav-m li ul {
  position: relative;
  display: block;
  border: 0;
  padding: 0;
  margin-left: 10px;
  background-color: transparent; }

header .nav-secondary ul.nav-m li ul li {
  margin: 3px 0; }

header .nav-secondary ul.nav-m li ul li a {
  font-size: 13px; }

header #burguer {
  display: none;
  background: url(images/burguer.png) center no-repeat;
  float: right;
  width: 26px;
  clear: right;
  height: 26px; }

header nav ul li {
  list-style-type: none;
  float: left;
  margin-right: 20px; }

header nav ul.nav > li:last-child {
  margin: 0; }

header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 3px 10px;
  font-size: 18px;
  display: inline-block;
  text-transform: uppercase;
  text-shadow: 0px 0px 2px #000000; }

header nav ul li ul {
  display: none;
  position: absolute;
  border-top: 4px solid #000000;
  padding: 3px 0;
  z-index: 1;
  border-radius: 0 0 5px 5px; }

header nav ul li:hover ul {
  display: block; }

header nav ul li:first-child ul {
  background-color: #BF0310;
  width: 73px; }

header nav ul li:nth-child(2) ul {
  background-color: #4A72B1;
  width: 102px; }

header nav ul li ul li {
  float: left;
  clear: left;
  margin: 5px 0; }

header nav ul li ul.sub-menu li a {
  text-transform: capitalize;
  font-size: 13px;
  background-color: transparent; }

header nav ul li a:hover {
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear; }

header nav ul.nav > li:first-child:hover {
  background-color: #BF0310; }

header nav ul.nav > li:nth-child(2):hover {
  background-color: #4A72B1; }

header nav ul.nav > li:nth-child(3):hover {
  background-color: #70A73A; }

header nav ul.nav > li:nth-child(4):hover {
  background-color: #f0ea6a; }

.mltlngg_switcher {
  float: right;
  margin: 10px; }

.mltlngg_switcher button,
.mltlngg_switcher button:hover {
  margin-right: 10px; }

.mltlngg_switcher button:last-child {
  margin: 0; }

form .mltlngg-lang-button-icons img.mltlngg-current-lang {
  border: 1px solid #f0ea6a; }

.home .current-menu-item {
  background-color: #BF0310; }

.category-releases .current-menu-item > a,
.current-menu-parent.menu-item-24 > a {
  background-color: #4A72B1; }

.category-artistas .current-menu-item > a,
.current-menu-parent.menu-item-27 > a {
  background-color: #70A73A; }

.contact .current-menu-item > a {
  background-color: #f0ea6a; }

/*CONTENT*/
.yellow-line {
  width: 94%;
  border-top: 5px solid #f0ea6a;
  float: left; }

.yellow-image {
  background-image: url(images/yellow-line.png);
  background-repeat: no-repeat;
  width: 5%;
  height: 5px;
  float: left; }

.red-image {
  background-image: url(images/red-line.png);
  background-repeat: no-repeat;
  width: 5%;
  height: 5px;
  float: left; }

.red-line {
  width: 94%;
  border-top: 5px solid #BF0310;
  float: left; }

.container.wrap .content {
  margin: 0 auto;
  width: 1025px;
  background: url(images/back2.png) repeat;
  display: flex;
  box-shadow: 0px 0px 15px #000000; }

.grey {
  background: url(images/back.png) repeat; }

.main {
  width: 75%;
  float: left;
  padding: 0 30px; }

.home .page-header,
.about .page-header,
.category .page-header,
.contact .page-header {
  padding-top: 30px; }

.home .page-header h1,
.about .page-header h1 {
  background-image: url(images/red.jpg);
  background-repeat: no-repeat;
  text-transform: uppercase;
  font-size: 26px;
  width: 25px;
  padding: 0 0 30px 30px;
  background-position: 0px 11px;
  height: 25px; }

.category-releases .page-header h1 {
  background-image: url(images/azul.jpg);
  background-repeat: no-repeat;
  text-transform: uppercase;
  font-size: 26px;
  width: 25px;
  padding: 0 0 30px 30px;
  background-position: 0px 11px;
  height: 25px; }

.category-artists .page-header h1 {
  background-image: url(images/green.jpg);
  background-repeat: no-repeat;
  text-transform: uppercase;
  font-size: 26px;
  width: 25px;
  padding: 0 0 30px 30px;
  background-position: 0px 11px;
  height: 25px; }

.contact .page-header h1 {
  background-image: url(images/yellow.jpg);
  background-repeat: no-repeat;
  text-transform: uppercase;
  font-size: 26px;
  width: 25px;
  padding: 0 0 30px 30px;
  background-position: 0px 11px;
  height: 25px; }

.category-catalog .page-header h1 {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 30px; }

h2.entry-title a {
  color: #ffffff;
  text-decoration: none;
  font-size: 26px; }

.entry-summary p {
  line-height: 22px;
  font-size: 14px;
  height: 90px;
  overflow: hidden; }

.page p {
  line-height: 22px;
  font-size: 14px; }

.category-releases .entry-summary p a {
  display: none; }

.category-releases .entry-summary a.ver-mas {
  color: #ffffff;
  padding: 1px 5px;
  margin-top: 15px;
  font-size: 12px;
  text-decoration: none;
  display: inline-block; }
  .category-releases .entry-summary a.ver-mas:hover {
    background-color: #4A72B1;
    text-shadow: 0px 0px 2px #000000; }

.category-artists .entry-summary a.ver-mas {
  color: #ffffff;
  padding: 1px 5px;
  margin-top: 15px;
  font-size: 12px;
  text-decoration: none;
  display: inline-block; }
  .category-artists .entry-summary a.ver-mas:hover {
    background-color: #70A73A;
    text-shadow: 0px 0px 2px #000000; }

.home article .featured-image,
.category article .featured-image {
  float: left;
  margin-right: 15px;
  width: 20%; }

.category-catalog h1.main-cat,
.category-comingsoon h1.main-cat {
  background-image: url(images/azul.jpg);
  background-repeat: no-repeat;
  text-transform: uppercase;
  font-size: 26px;
  width: 25px;
  padding: 0 0 30px 30px;
  background-position: 0px 11px;
  height: 25px;
  padding: 0 0 0px 30px; }

.category-releases .category-comingsoon {
  display: none; }

article .featured-image a {
  display: inline-block; }

article .featured-image a img {
  width: 100%;
  height: auto; }

article .der {
  float: left;
  width: 75%; }

article.post {
  margin-bottom: 40px;
  display: inline-block; }

article.post time {
  font-size: 13px;
  margin: 10px 0;
  display: inline-block; }

aside.sidebar {
  width: 25%;
  padding: 40px 20px;
  float: left; }

aside.sidebar .soundcloud-user {
  margin-top: 40px; }

/*POST*/
.single-post article h1 {
  font-size: 35px;
  margin: 40px 0 10px; }

.single-post article .entry-content {
  margin: 20px 0; }

.single-post article .entry-content p {
  line-height: 22px;
  font-size: 14px; }

.single-post article time {
  font-size: 16px; }

.single-post .featured-image {
  float: left;
  width: 50%;
  margin: 20px 20px 10px 0px; }

.single-post .featured-image img {
  width: 100%;
  height: auto; }

iframe.soundcloud-embed {
  margin: 40px 0;
  border-bottom: 2px solid #ff5500;
  border-left: 2px solid #ff5500;
  border-right: 2px solid #ff5500;
  box-shadow: 0 0 5px #999999; }

.conseguilo p span {
  font-size: 22px;
  float: left; }

.conseguilo p a {
  margin: -1px 0 0 10px;
  float: left; }

/*FOOTER*/
footer.content-info {
  background: url(images/back3.png) repeat; }

footer .container {
  margin: 0 auto;
  width: 1025px; }

footer ul.social {
  float: right;
  margin: 24px 0 0; }

footer ul.social li {
  float: left;
  margin-right: 15px; }

footer ul.social li:last-child {
  margin: 0; }

footer ul.social li a {
  display: inline-block; }

footer ul.social li a.facebook {
  background-image: url(images/facebook.png);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px; }

footer ul.social li a.soundcloud {
  background-image: url(images/soundcloud.png);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px; }

footer ul.social li a.beatport {
  background-image: url(images/beatport.png);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px; }

footer p.copy {
  float: left;
  margin: 30px 0;
  font-size: 14px; }

/*CONTACTO*/
.contact .grey form {
  width: 500px;
  padding-bottom: 100px; }

.contact form p {
  font-size: 16px;
  margin-bottom: 5px; }

.contact form input[type=text],
.contact form input[type=email] {
  width: 500px;
  background-color: #000000;
  margin: 10px 0;
  border: 0;
  font-size: 14px;
  padding-left: 5px;
  border-radius: 7px;
  box-shadow: 0 0 10px #f0ea6a;
  color: #ffffff;
  height: 25px; }

.contact form input[type=submit] {
  width: 500px;
  background-color: #000000;
  margin: 10px 0;
  border: 0;
  font-size: 14px;
  padding-left: 5px;
  border-radius: 7px;
  box-shadow: 0 0 10px #f0ea6a;
  color: #ffffff;
  width: 70px;
  border-radius: 5px;
  height: 25px;
  border: 1px solid #f0ea6a;
  float: right; }

.contact form textarea {
  width: 500px;
  background-color: #000000;
  margin: 10px 0;
  border: 0;
  font-size: 14px;
  padding-left: 5px;
  border-radius: 7px;
  box-shadow: 0 0 10px #f0ea6a;
  color: #ffffff;
  resize: none;
  padding: 5px; }

/*# sourceMappingURL=style.css.map */
